html {
  font-family: sans-serif;
  font-variant: small-caps;
  text-align: center;
  font-size: x-large;
  background: cadetblue;
  color: floralwhite;
}

img {
  width: 500px;
  aspect-ratio: 1/1;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
  border: blue 1px solid;
}

h3 {
  border-top: blue 2px solid;
  border-radius: 20px;
  text-decoration: underline;
}
